body {
    text-align: center;
    background-color: #fcefc8;
}

#canvas {
    background-color: black;
    position: relative;

    left: 0.2%;
    top: 0.2%;
    border: 20px;
    border-color: rgb(195, 211, 207);
    border-radius: 5px;
    border-style: groove;


}

fieldset {
    background-color: rgb(195, 211, 207);
    float: left;
    position: relative;
    left: 33.4%;
    border-width: 8px;
}

#savebutton {
    background-color: rgb(213, 189, 236);
    border-radius: 15%;
    border-color: rgb(215, 166, 255);
    position: absolute;
    top: 77%;
    left: 48.4%;
}

p {
    font-weight: bold;
}